body.home main {
  article {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    opacity: 0;

    a {
      img {
        max-height: 300px;
        max-width: 100%;
      }

      p {
        font-size: 1.25em;
      }
    }
  }
}

@media (min-width: 768px) {
  body.home main article {
    margin: 2% 1%;
    width: 48%;
  }
}
