<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <base href="{{&global.base_url}}" />

    <link rel="icon" href="/assets/favicon.png">

    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>

    <title>{{title}} | {{global.title}}</title>
  </head>
  <body class="entry">
    <header>
      <h1>{{title}}</h1>
    </header>

    <main>
      <article>
        <img src="{{image.url}}" alt="{{image.title}}">
        <div class="description">{{{description}}}</div>

        <ul class="actions">
          {{#cta}}
          <li><a class="cta" href="{{cta.url}}" target="_blank">{{cta.text}}</a></li>
          {{/cta}}
          <li><a class="back_home" href="/">Back to home</a></li>
        </ul>
      </article>
    </main>

    {{> footer}}
  </body>
</html>
