<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <base href="{{&global.base_url}}" />

    <link rel="icon" href="/assets/favicon.png">

    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>

    <title></title>
  </head>
  <body>
    techie_one_page
  </body>
</html>
